body {
	font-family: Arial, Helvetica, sans-serif; font-size: 1em;
	width: 100%; margin:0; background: url("../img/congruent_outline.png");
}

input, select {
	width: 100%; height: 3em; padding: 0 1em; margin: 0.2em 0;
	box-sizing: border-box;
}

input[type=button] {
	font-family: Arial, Helvetica, sans-serif; color: white; font-weight: bold;
	background: #6A247F; border: none; border-radius: 0.3em;
	width: 50%; margin: 1.3em 25% 0 25%;
}

input[type=button]:hover {
	background: #9F36BF; cursor: pointer; box-shadow: 0 0 0.3em #9F36BF;
}

#topbar {
	width: 100%; height: 2em; background: #080808;
	position: fixed; top: 0; margin: 0; box-sizing: border-box;
}

.topbutton {
	width: auto; height: 100%; background: #080808; 
	padding: 0.5em; margin: 0; box-sizing: border-box; float: left;
}

#topbar a {
	text-decoration: none; color: #fefefe;
}

#header {
	text-align: center; color: #fff; background: #6A247F;
	width: 100%; padding: 2.25em 0 0.25em 0; margin-bottom: 1em;
}

.main {
	background: #fff; width: 50%; min-width: 200px; 
	padding: 1em; margin: 0 25% 1em; float: left; box-sizing: border-box;
}

.description {
	margin-top: 0.4em;
}

.input {
	text-align: center; width: 100%;
}

#message {
	margin-top: 1em;
}

#output {
	font-family: Consolas, Monaco, monospace;
	font-size: 0.9em;
	padding: 1em; margin-top: 1em;
}


#footer {
	font-size: 0.8em; text-align: center; color: silver; background: #000;
	width: 100%; position: fixed; bottom: 0; padding: 0.3em; box-sizing: border-box;
}

#footer a {
	color: #BE40E5;
}

#footer a:hover {
	color: #D448FF;
}

/* Colors

initial
header, button 45044F
button hover 742D7F
footer a B20ACC
footer a hover E959FF

MR's banner: 7f2b99;
Color theme:
https://color.adobe.com/create/color-wheel/?base=2&rule=Shades&selected=0&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.6225490196077139,0.2107843137254902,0.75,0.4150326797384759,0.14052287581699346,0.5,0.8300653594769518,0.28104575163398693,1,0.20751633986923795,0.07026143790849673,0.25,0.7470588235292567,0.2529411764705882,0.9&swatchOrder=0,1,2,3,4

*/